# Machine Learning Steps
1. Import the Data
2. Clean the Data
3. Split the Data into Training / Test Sets
4. Create a Model
5. Train the Model
6. Make Predictions
7. Evaluate and Improve

## Tools : 
* Jupyter
* Sklearn

SRC : https://www.youtube.com/watch?v=7eh4d6sabA0&t=139s

src1 : https://www.kaggle.com/

## Loading a file

In [ ]:
import pandas as pd
df = pd.read_csv('/content/vgsales.csv')
df.shape

(16598, 11)

In [ ]:
df.describe()

               Rank          Year  ...   Other_Sales  Global_Sales
count  16598.000000  16327.000000  ...  16598.000000  16598.000000
mean    8300.605254   2006.406443  ...      0.048063      0.537441
std     4791.853933      5.828981  ...      0.188588      1.555028
min        1.000000   1980.000000  ...      0.000000      0.010000
25%     4151.250000   2003.000000  ...      0.000000      0.060000
50%     8300.500000   2007.000000  ...      0.010000      0.170000
75%    12449.750000   2010.000000  ...      0.040000      0.470000
max    16600.000000   2020.000000  ...     10.570000     82.740000

[8 rows x 7 columns]

In [ ]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

## Create and Train a model

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #most popular ML library

music_data = pd.read_csv('music.csv')
#PREPARING THE DATA
X = music_data.drop(columns=['genre'])
y = music_data['genre']

#LEARNING 
model = DecisionTreeClassifier()
model.fit(X, y) 
#PREDICT
predictions = model.predict([[21, 1], [22, 0]]) #fit : find pattern in data
predictions

array(['HipHop', 'Dance'], dtype=object)

## Calculate accuracy of the model in order to choose which one is better

In [ ]:


import pandas as pd
from sklearn.tree import DecisionTreeClassifier #most popular ML library
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data = pd.read_csv('music.csv')
#music_data.shape
#music_data
X = music_data.drop(columns=['genre'])
y = music_data['genre']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train) #fit : find pattern in data
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)

score #prediction changes each execution

0.5

## Persisting Models

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals import joblib

# music_data = pd.read_csv('music.csv')
# X = music_data.drop(columns=['genre'])
# y = music_data['genre']

#creating a model
# model = DecisionTreeClassifier()
#train
# model.fit(X, y) 
 # to save the model
# joblib.dump(model, 'music-recommender.joblib')

# to load the model
model = joblib.load('/content/music-recommender.joblib') 
#fit : find pattern in data
predictions = model.predict([[21, 1], [22, 0]]) 
 #print output
predictions

array(['HipHop', 'Dance'], dtype=object)

## Visualizing Decision Trees

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #most popular ML library
from sklearn import tree

music_data = pd.read_csv('music.csv')
#PREPARING THE DATA
X = music_data.drop(columns=['genre'])
y = music_data['genre']

#create 
model = DecisionTreeClassifier()
#train
model.fit(X, y)

tree.export_graphviz(model, out_file='music-recommender.dot',
                    feature_names=['age', 'gender'],
                    class_names=sorted(y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)